@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Inter:wght@100;200;400;500;700;900&display=swap');

.Hintro-container {
    display: flex;
    justify-content:center;
    align-items:center;
    height:90%;
    text-align: center;
    vertical-align: top;
  }
  
  .Hintro-square {
    width:80%;
    height:fit-content;
    background-color:transparent;
    text-align: center;
    vertical-align: top;
    padding: 2%;
  }

  .p-HItagline
  {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    color:white;
  }
  .p-HIquote
  {
    font-family: 'Hammersmith One', sans-serif;
    color:hwb(36 53% 0%);
    font-size:500%;
    letter-spacing: 10px;
    margin: 2%;
    width: 100%;
    text-align: center;
  }
  .p-HIbut1
  {
    background-color: #FFE7C2;
    font-family: 'Inter',sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-width: 0cm;
    cursor: pointer;
    color: #84612B;
    border-radius: 25px;
  }
  .p-HIlist
  {
    text-align: center;
    display: block;
    padding-left: 45%;
    list-style-type: none;
    overflow: hidden;
  }